<div>
  <div class="submit-form">
    @if (!submitted) {
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        required
        [(ngModel)]="task.title"
        name="title"
      />
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input
        class="form-control"
        id="description"
        required
        [(ngModel)]="task.description"
        name="description"
      />
    </div>

    <button (click)="savetask()" class="btn btn-success">Submit</button>
    } @else {
    <h4>Task created successfully!</h4>
    <button class="btn btn-success" (click)="newtask()">Add</button>
    }
  </div>
</div>
